<header class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Navigation -->
    <a class="navbar-brand" href="#">Spese di Casa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">
                Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bollette Luce">
                <a class="nav-link" href="/luci">
                    <i class="fa fa-fw fa-bolt"></i>
                    <span class="nav-link-text">
                Bollette Luce</span>
                </a>
            </li>
    </div>
</header>

<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-info o-hidden h-100">
                    <div class="card-body">
                        <h6 class="card-title"><i class="fa fa-bolt"></i>&nbsp;Totali CONSUMI
                            <%= DateTime.now.year %>
                        </h6>
                        <div class="mr-5">
                            <div style="font-size:2em">F1<span class="float-right">
                                <%= @energia_sum_anno.sum_f1 %> KWh</span></div>
                            <div style="font-size:2em">F2<span class="float-right">
                                <%= @energia_sum_anno.sum_f2 %> KWh</span></div>
                            <div style="font-size:2em">F3<span class="float-right">
                                <%= @energia_sum_anno.sum_f3 %> KWh</span></div>
                            <div style="font-size:2em">Tot<span class="float-right">
                                <%= @energia_sum_anno.sum_tot %> KWh</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <h6 class="card-title"><i class="fa fa-bolt"></i>&nbsp;Totali SPESE
                            <%= DateTime.now.year %>
                        </h6>
                        <div class="mr-5">
                            <div style="font-size:2em">
                                Fornitura<span class="float-right">
                                <%= number_to_currency(@energia_sum_anno.sum_fornitura, options = {unit: "€", separator: ",", delimiter: ".", format: "%n %u"}) %>
                                  </span>
                            </div>
                            <div style="font-size:2em">
                                Altro<span class="float-right">
                                <%= number_to_currency(@energia_sum_anno.sum_pagato-@energia_sum_anno.sum_fornitura, options = {unit: "€", separator: ",", delimiter: ".", format: "%n %u"}) %>
                              </span>
                            </div>
                            <div style="font-size:2em">
                                Totale<span class="float-right">
                                <%= number_to_currency(@energia_sum_anno.sum_pagato, options = {unit: "€", separator: ",", delimiter: ".", format: "%n %u"}) %>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-info o-hidden h-100">
                    <div class="card-body">
                        <h6 class="card-title"><i class="fa fa-bolt"></i>&nbsp;Media CONSUMI
                            <%= DateTime.now.year %>
                        </h6>
                        <div class="mr-5">
                            <div style="font-size:2em">F1<span class="float-right">
                                    <%= @energia_avg_anno.avg_f1 %> KWh</span></div>
                            <div style="font-size:2em">F2<span class="float-right">
                                    <%= @energia_avg_anno.avg_f2 %> KWh</span></div>
                            <div style="font-size:2em">F3<span class="float-right">
                                    <%= @energia_avg_anno.avg_f3 %> KWh</span></div>
                            <div style="font-size:2em">Tot<span class="float-right">
                                    <%= @energia_avg_anno.avg_tot %> KWh</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <h6 class="card-title"><i class="fa fa-bolt"></i>&nbsp;Media SPESE
                            <%= DateTime.now.year %>
                        </h6>
                        <div class="mr-5">
                            <div style="font-size:2em">
                                Fornitura<span class="float-right">
                                <%= number_to_currency(@energia_avg_anno.avg_fornitura, options = {unit: "€", separator: ",", delimiter: ".", format: "%n %u"}) %>
                                  </span>
                            </div>
                            <div style="font-size:2em">
                                Altro<span class="float-right">
                                <%= number_to_currency(@energia_avg_anno.avg_pagato-@energia_avg_anno.avg_fornitura, options = {unit: "€", separator: ",", delimiter: ".", format: "%n %u"}) %>
                              </span>
                            </div>
                            <div style="font-size:2em">
                                Totale<span class="float-right">
                                <%= number_to_currency(@energia_avg_anno.avg_pagato, options = {unit: "€", separator: ",", delimiter: ".", format: "%n %u"}) %>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Consumi Energia -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Consumi Energia
            </div>
            <div class="card-body">
                <div id="plot_energia" style="width:100%;height:300px"></div>
            </div>
        </div>

        <div class="row">

        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright &copy; Your Website 2017</small>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                Select "Logout" below if you are ready to end your current session.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>