<%= form_for(@luce) do |f| %>
    <% if @luce.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@luce.errors.count, "error") %> prohibited this luce from being saved:</h2>

            <ul>
                <% @luce.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <div class="form-group">
                <%= f.label :dal %>
                    <div class="form-inline">
                        <%= f.text_field :dal, type: :month, class: "form-control", :value => @luce.dal.strftime("%Y-%m") %>
                    </div>
            </div>
            <div class="form-group">
                <%= f.label :al %>
                    <div class="form-inline">
                        <%= f.text_field :al, type: :month, class: "form-control", :value => @luce.al.strftime("%Y-%m") %>
                    </div>
            </div>
            <div class="form-group">
                <%= f.label :f1 %>
                    <%= f.number_field :f1, {:class => "form-control"} %>
            </div>
            <div class="form-group">
                <%= f.label :f2 %>
                    <%= f.number_field :f2, {:class => "form-control"} %>
            </div>
            <div class="form-group">
                <%= f.label :f3 %>
                    <%= f.number_field :f3, {:class => "form-control"} %>
            </div>
            <div class="form-group">
                <%= f.label :euro_fornitura %>
                    <%= f.text_field :euro_fornitura, {:class => "form-control"} %>
            </div>
            <div class="form-group">
                <%= f.label :euro_pagato %>
                    <%= f.text_field :euro_pagato, {:class => "form-control"} %>
            </div>
            <div class="form-group">
                <%= f.label :note %>
                    <%= f.text_area :note, {:class => "form-control"} %>
            </div>
            <div class="actions">
                <%= f.submit 'Salva', :class => "btn btn-outline-primary" %>
            </div>
            <br><br>
            <% end %>