<header class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Navigation -->
    <a class="navbar-brand" href="#">Spese di Casa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">
                    Dashboard</span>
                </a>
            </li>
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Bollette Luce">
                <a class="nav-link" href="/luci">
                    <i class="fa fa-fw fa-bolt"></i>
                    <span class="nav-link-text">
                    Bollette Luce</span>
                </a>
            </li>
    </div>
</header>
<div class="content-wrapper">
    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Bollette Luce</a>
            </li>
            <li class="breadcrumb-item active">Elenco</li>
        </ol>

        <p id="notice">
            <%= notice %>
        </p>

        <h1>Elenco Bolletta Luce
            <%= link_to 'Inserisci', new_luce_path, class: "btn btn-outline-primary float-right" %>
        </h1>

        <table class="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Periodo</th>
                    <th colspan="3" class="text-center">KWh</th>
                    <th colspan="2" class="text-center">&euro;</th>
                    <th colspan="3" class="text-center">&nbsp;</th>
                </tr>
                <tr>
                    <th>Dal</th>
                    <th>Al</th>
                    <th>F1</th>
                    <th>F2</th>
                    <th>F3</th>
                    <th>Euro fornitura</th>
                    <th>Euro pagato</th>
                    <th>Note</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <% @luci.each do |luce| %>
                    <tr>
                        <td>
                            <%= luce.dal.strftime('%b %Y') %>
                        </td>
                        <td>
                            <%= luce.al.strftime('%b %Y') %>
                        </td>
                        <td>
                            <%= luce.f1 %>
                        </td>
                        <td>
                            <%= luce.f2 %>
                        </td>
                        <td>
                            <%= luce.f3 %>
                        </td>
                        <td>
                            <%= number_with_precision(luce.euro_fornitura, delimiter: ".", separator: ",", precision: 2) %>
                        </td>
                        <td>
                            <%= number_with_precision(luce.euro_pagato, delimiter: ".", separator: ",", precision: 2) %>
                        </td>
                        <td>
                            <%= luce.note %>
                        </td>
                        <td>
                            <%= link_to 'Modifica', edit_luce_path(luce) %>
                        </td>
                        <td>
                            <%= link_to 'Elimina', luce, method: :delete, data: { confirm: 'Sei sicuro?' } %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
</div>