<header class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Navigation -->
    <a class="navbar-brand" href="#">Spese di Casa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">
                        Dashboard</span>
                </a>
            </li>
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Bollette Luce">
                <a class="nav-link" href="/luci">
                    <i class="fa fa-fw fa-bolt"></i>
                    <span class="nav-link-text">
                        Bollette Luce</span>
                </a>
            </li>
    </div>
</header>
<div class="content-wrapper">
    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Bollette Luce</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/luci">Elenco</a>
            </li>
            <li class="breadcrumb-item active">Inserimento</li>
        </ol>

        <p></p>
        <h1>Inserisci Bolletta Luce
            <%= link_to 'Indietro', luci_path, class: "btn btn-outline-primary float-right" %>
        </h1>
        <%= render 'form' %>
    </div>
</div>