<div class="container">
  <div class="card">
    <div class="card-header">
      Bolletta Luce
      <%= link_to 'Indietro', luci_path,  class: "btn btn-sm btn-outline-primary float-right" %>
    </div>
    <div class="card-body">
      <p id="notice">
          <%= notice %>
      </p>

      <p>
          <strong>Dal:</strong>
          <%= @luce.dal.strftime('%b %Y') %>
      </p>

      <p>
          <strong>Al:</strong>
          <%= @luce.al.strftime('%b %Y') %>
      </p>

      <p>
          <strong>F1:</strong>
          <%= @luce.f1 %>
      </p>

      <p>
          <strong>F2:</strong>
          <%= @luce.f2 %>
      </p>

      <p>
          <strong>F3:</strong>
          <%= @luce.f3 %>
      </p>

      <p>
          <strong>Euro fornitura:</strong>
          <%= @luce.euro_fornitura %>
      </p>

      <p>
          <strong>Euro pagato:</strong>
          <%= @luce.euro_pagato %>
      </p>

      <p>
          <strong>Note:</strong>
          <%= @luce.note %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Modifica', edit_luce_path(@luce),  class: "btn btn-sm btn-outline-primary float-right" %>
    </div>
  </div>
</div>
